@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import "reset.css";
@import "variables.css";
/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
/*Screen*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/chats.css";
@import "screens/settings.css";
@import "screens/chat.css";
@import "screens/findpassword.css";

body {
    background-image: url("../img/night.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Indie Flower', cursive;
    height: 150vh;
}

.main-screen {
    padding: 100px var(--horizontal-space);
}