#findpassword-body {
    background-color: white;
}

.find-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: -150px;
}

.find-account__title {
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
}

.find-account-list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
    width: 100%;
    margin-bottom: 25px;

}

.fid-account__lists-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;

}

.find-account__lists-subtitle {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.find-account__lists-column i {
    margin-left: 10px;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.5);
}