#friends-display-link {
    display: block;
    text-align: center;
    background-color: #87ceeb;
    width: 100%;
    padding: 15px 0px;
    font-size: 15px;
    margin-bottom: 30px;
    border-radius: 20px;

}

#friends-display-link i {
    padding-right: 6px;
    color: white;
}

.friends-screen {
    padding: 100px var(--horizontal-space);
}


.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channel-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    color: white;
}