.user-component {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-component:hover {
    box-shadow: 10px 10px 20px skyblue;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__avatar {
    width: 70px;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 10px;
    object-fit: cover;
}

.user-component__title {
    font-weight: 600;
    font-size: 22px;

}

.user-component__subtitle {
    margin-top: 5px;
    font-size: 17px;
    color: white;
}

.user-component__avatar--xl {
    width: 80px;
    height: 80px;
}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.user-component__title--not-bold {
    font-weight: 300;
}


.user-component__column:last-child {
    margin-top: -10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.user-component__column--time {
    display: block;
    margin-bottom: 5px;
}

.user-component__column {
    margin: 10px 0px;
}